name: Testes Regressivos

on:
    pull_request:
        branches:  [ master ]
    schedule:
      - cron: '0 23 * * 1'

jobs:
  RunTest:
    runs-on:  ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Instalar Java 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'

      - name: Instalar Chrome
        run: |
          sudo apt-get update
          wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
          sudo apt install ./google-chrome*.deb
          google-chrome --version  # Verifica a vers찾o do Chrome instalado

      - name: Setup Chrome and ChromeDriver
        uses: nanasess/setup-chromedriver@v2
        with:
          chromedriver-version: 135.0.7049.114

      - name: Start ChromeDriver
        run:  |
          export DISPLAY=:99
          sudo Xvfb -ac :99 -screen 0 1920x1080x24 > /dev/null 2>&1 & # optional
          chromedriver --url-base=/wd/hub &
      
      - name: Verificar vers천es do Chrome e ChromeDriver
        run: |
          google-chrome --version
          chromedriver --version

      - name: Run Test
        run: mvn test -Dtest=RunCucumber -Dbrowser=chrome-ci cluecumber-report:reporting

      - name: Gerar relat처rio
        if: always()
        run: mvn cluecumber-report:reporting

      - name: Arquivar relat처rio
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: report-execution
          path: "**/formated-report/"
